<%- include("../partials/_head") %> 
<%- include("../partials/_header") %> 
<%- include("../components/breadcrumb") %> 
    
    
<div class="container mt-10 text-center">
  <a href="/" class="btn_2"><- HOME</a>
</div>
<%- include("../components/best_seller") %> 


<%- include("../components/subscribe_area") %> 
          <%- include("../components/messageBird") %>
<%- include("../partials/_footer") %> 
  <%- include("../partials/_scripts") %> 
      