<%- include("../partials/_head") %> 
<%- include("../partials/_header") %> 
<%- include("../components/breadcrumb") %> 
    
<div class="container text-center mt-10">
  <% try{ %>
    <% bird.forEach(cry=> { %>
        <% if(cry.message){ %>
            <div class="fadeOut alert alert-<%= cry.alert %>">
                <%= cry.message %>
            </div>
            <% }else{ %>
                No Message
                <%} %>
                    <% }); %>
                        <% }catch(err){ %>
                            Error from try
                            <% } %>
</div>
    

<%- include("../components/best_seller") %> 


<%- include("../components/subscribe_area") %> 
<%- include("../partials/_footer") %> 
  <%- include("../partials/_scripts") %> 
      