<%- include("../partials/_head") %> 
<%- include("../partials/_header") %> 
<%- include("../components/breadcrumb") %> 
    
<div class="container text-center bg-warning mt-10">
  <span class="display-4 text-white"><%= msg == "undefined"? "": msg %> </span>
</div>
    

<%- include("../components/best_seller") %> 


<%- include("../components/subscribe_area") %> 
  <%- include("../partials/_footer") %> 
  <%- include("../partials/_scripts") %> 
      