<%- include("../partials/_head") %> 
<%- include("../partials/_header") %> 
<%- include("../components/breadcrumb") %> 
    
<div class="container text-center bg-warning mt-10">
  <div class="alert alert-danger" role="alert">
    <%= bird == "undefined"? "": bird.message %>
  </div>
</div>
    

<%- include("../components/best_seller") %> 


<%- include("../components/subscribe_area") %> 
<%- include("../partials/_footer") %> 
  <%- include("../partials/_scripts") %> 
      