<%- include("../partials/_head") %>
    <%- include("../partials/_header") %>
        <%- include("../components/breadcrumb") %>




            <!--================Cart Area =================-->
            <section class="cart_area padding_top">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Avaliable</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    
                                </tbody>
                            </table>
                            <div class="checkout_btn_inner float-right">
                                <a class="btn_1" href="category">Continue Shopping</a>
                                <a class="btn_1 checkout_btn_1" href="checkout">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
            </section>
            <!--================End Cart Area =================-->


            <%- include("../components/best_seller") %>
                <%- include("../partials/_footer") %>
                    <%- include("../partials/_scripts") %>